/*tested on
Terraform v1.4.2
on windows_amd64
+ provider registry.terraform.io/azure/azapi v1.7.0
+ provider registry.terraform.io/hashicorp/azuread v2.25.0
+ provider registry.terraform.io/hashicorp/azurerm v3.44.1
+ provider registry.terraform.io/hashicorp/local v2.2.3
+ provider registry.terraform.io/hashicorp/random v3.3.2
+ provider registry.terraform.io/hashicorp/time v0.8.0
*/
/*tested on
Terraform v1.4.2
on windows_amd64
+ provider registry.terraform.io/azure/azapi v1.7.0
+ provider registry.terraform.io/hashicorp/azuread v2.25.0
+ provider registry.terraform.io/hashicorp/azurerm v3.44.1
+ provider registry.terraform.io/hashicorp/local v2.2.3
+ provider registry.terraform.io/hashicorp/random v3.3.2
+ provider registry.terraform.io/hashicorp/time v0.8.0
*/

prefix = "aad8" # prefix for all resources (max 4 characters, lowercase only)

# Azure Reagion
avdLocation = "eastus"

# Resource Groups
rg_shared_name = "shared-resources" #output rg-avd-<Azure Region>-<prefix>-shared-resources
rg_network     = "network"          #rg-avd-<Azure Region>-<prefix>-network
rg_stor        = "storage"          #rg-avd-<Aazure Region>-<prefix>-storage
rg_pool        = "pool-compute"     #rg-avd-<Azure Region>-<prefix>-pool-compute
rg_so          = "service-objects"  #rg-avd-<Azure Region>-<prefix>-service-objects
rg_avdi        = "monitoring"       #rg-avd-<Azure Region>-<prefix>-avdi
rg_image_name  = "image-resources"

# Azure Virtual Desktop Objects
## Host Pool Objects
hostpool     = "vdmpool" #vdpool-<azure region>-<prefix> multi-session host pool
personalpool = "vdppool" #vdpool-<azure region>-<prefix> personal host pool
raghostpool  = "vdrpool" #vdpool-<azure region>-<prefix> remote app group host pool

## Workspace Objects
workspace    = "vdmws" #vdmws-<azure region>-<prefix>-<nnn> AVD workspace for multi-session host pool
pworkspace   = "vdpws" #vdpws-<azure region>-<prefix>-<nnn> AVD workspace for personal host pool
ragworkspace = "vdrws" #vdrws-<azure region>-<prefix>-<nnn> AVD workspace for remote app group host pool

## Application Group Objects
pag = "vpag" #AVD personal pool desktop application group
dag = "vdag" #vdag-desktop-<azure region>-<prefix>-<nnn> AVD mulit-session pool desktop application group 
rag = "vrag" #vdag-rapp-<azure region>-<prefix>-<nnn> AVD remote application pool desktop application group

## Diagnostic Settings for AVD Insights
host_pool_log_categories = ["Checkpoint", "Management", "Connection", "HostRegistration", "AgentHealthStatus", "NetworkData", "SessionHostManagement", "ConnectionGraphicsData", "Error"]
dag_log_categories       = ["Checkpoint", "Management", "Error"]
ws_log_categories        = ["Checkpoint", "Management", "Error", "Feed"]

## Scaling Plan Objects
scplan = "scaling-plan" #avd-<location>-<prefix>-scaling-plan

# Compute Objects
local_admin_username = "<replace with local admin name>" # Your AVD VM local Windows administrator login username (administrator is not allowed)
vm_size              = "Standard_D2s_v5"
rdsh_count           = 1 # Number of session host VMs to create

# Identity Objects
aad_group_name = "<replace with avd users groupname>" #user group must pre-created on your ADDS server and sync to Azure AD

# Network Objects
rt                  = "route-avd"  #route-avd-<azure region>-<prefix>-<nnn> Route Table
nsg                 = "nsg-avd"    #nsg-avd-<azure region>-<prefix>-<nnn> Network Security Group
vnet                = "vnet-avd"   #vnet-avd-<azure region>-<prefix>-<nnn> Virtual Network
snet                = "snet-avd"   #snet-avd-<azure region>-<prefix>-<nnn> Subnet
pesnet              = "pesnet-avd" #snet-avd-<azure region>-<prefix>-<nnn> Private Endpoint Subnet
vnet_range          = ["x.x.x.x/24"] #replace with your ip address cidr range (251 IPs)
subnet_range        = ["x.x.x.x/26"] #replace with your ip address cidr range (59 IPs)
pesubnet_range      = ["x.x.x.x/28"] #avd spoke private endpoint subnet replace with your ip address cidr range (11 IPs)
allow_list_ip       = ["x.x.x.x/30"]  #replace with your ip address cidr range
dns_servers         = ["x.x.x.x", "168.63.129.16"] # DNS servers for the VNet Custom DNS and Azure provided DNS
hub_vnet            = "<replace with your hub vnet name>"    # hub connectivity vnet name 
hub_connectivity_rg = "<replace with hub vnet resource_group_name>" # hub connectivity subscription network resource group
hub_dns_zone_rg     = "<replace with resource group name for private DNS zones>" # private DNS zones resource group name
identity_rg         = "<replace with identity resource group name>"      # identity subscription resource group
identity_vnet       = "<replace with identity vnet name>" # identity subscription vnet name
next_hop_ip         = "x.x.x.x"    # next hop ip address replace with your ip address for next hop
fw_policy           = "<replace with azure firewall policy name>"     # fw policy name

# Custom Image Objects if using the custom image build
image_name   = "<replace with the image_name associated with the azure compute gallery>"
image_rg     = "<replace with the resource_group_name for the azure compute gallery>"
gallery_name = "<replace with azure compute gallery name>"

# Subscription IDs
spoke_subscription_id     = "<replace with your AVD Spoke Subscription ID>"
hub_subscription_id       = "<replace with your Hub or Connectivity Subscription ID>" 
identity_subscription_id  = "<replace with your Identity Subscription ID>" # if applicable
avdshared_subscription_id = "<replace with your Shared Subscription ID>" # if applicable





