
name: Generate terraform docs
on:
  - push
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.ref }}

    - name: Render terraform docs inside the USAGE.md and push changes back to PR branch
      uses: terraform-docs/gh-actions@v0.10.0
      with:
        working-dir: .
        output-file: USAGE.md
        output-method: inject
        git-push: "true"
