location             = "east us"
rg_name              = "avd-rg"
prefix               = "AVD"
signame              = "AVDSIG"
local_admin_username = "localadmin"
local_admin_password = "ChangeMe123$"
vnet_range           = ["10.4.0.0/16"]
subnet_range         = ["10.4.0.0/24"]
dns_servers          = ["10.0.1.4", "168.63.129.16"]
aad_group_name       = "AVDUsers"
domain_name          = "infra.local"
domain_user_upn      = "domainjoiner" # do not include domain name as this is appended
domain_password      = "ChangeMe123$"
ad_vnet              = "infra-network"
ad_rg                = "infra-rg"
avd_users = [
  "avduser01@domain.com",
  "avduser02@domain.com"
]
