/*tested on
Terraform v1.3.7
on windows_amd64
+ provider registry.terraform.io/azure/azapi v1.1.0
+ provider registry.terraform.io/hashicorp/azuread v2.25.0
+ provider registry.terraform.io/hashicorp/azurerm v3.44.1
+ provider registry.terraform.io/hashicorp/local v2.2.3
+ provider registry.terraform.io/hashicorp/random v3.3.2
+ provider registry.terraform.io/hashicorp/time v0.8.0
*/

avdLocation    = "westeurope"
rg_shared_name = "shared-resources" #rg-avd-<location>-<prefix>-shared-resources
rg_network     = "network"          #rg-avd-<location>-<prefix>-network
rg_stor        = "storage"          #rg-avd-<location>-<prefix>-storage
rg_pool        = "pool-compute"     #rg-avd-<location>-<prefix>-pool-compute
rg_so          = "service-objects"  #rg-avd-<azure Region>-<prefix>-service-objects
rg_avdi        = "monitoring"       #rg-avd-<azure Region>-<prefix>-avdi
rg_image_name  = "image-resources"
rg_fslogix     = "fslogix-resources"

hostpool = "vdpool" #vdpool-<azure region>-<prefix>
personalpool = "vdpool"
raghostpool  = "vdpool"
workspace    = "vdws" #vdws-<azure region>-<prefix>-<nnn>
pworkspace   = "vdws"
ragworkspace = "vdws"
pag          = "vpag"
dag          = "vdag"         #vdag-desktop-<azure region>-<prefix>-<nnn>
rag          = "vrag"         #vdag-rapp-<azure region>-<prefix>-<nnn>
rt           = "route-avd"    #route-avd-<azure region>-<prefix>-<nnn>
nsg          = "nsg-avd"      #nsg-avd-<azure region>-<prefix>-<nnn>
scplan       = "scaling-plan" #avd-<location>-<prefix>-scaling-plan
vnet         = "vnet-avd"     #vnet-avd-<azure region>-<prefix>-<nnn>
snet         = "snet-avd"     #snet-avd-<azure region>-<prefix>-<nnn>
pesnet       = "pesnet-avd"   #snet-avd-<azure region>-<prefix>-<nnn>

host_pool_log_categories = ["Checkpoint", "Management", "Connection", "HostRegistration", "AgentHealthStatus", "NetworkData", "SessionHostManagement", "ConnectionGraphicsData", "Error"]
dag_log_categories       = ["Checkpoint", "Management", "Error"]
ws_log_categories        = ["Checkpoint", "Management", "Error", "Feed"]

prefix                = "test"
local_admin_username  = "localadmin" # Your AVD VM login id to manage username
vm_size               = "Standard_D8s_v5"
vnet_range            = ["10.10.1.0/24"] #replace with your IP addresses
subnet_range          = ["10.10.1.0/26"] #replace with your IP addresses
pesubnet_range        = ["10.10.1.192/28"] # avd spoke private endpoint subnet replace with your IP addresses
allow_list_ip         = ["10.28.83.128/30"] #replace with your IP addresses
dns_servers           = ["10.0.1.1", "168.63.129.16"] #replace with your custom DNS addresses
aad_group_name        = "avdusersgroup" #user group must pre-created on your AD server and sync to Microsoft Entra ID
hub_vnet              = "infra-network"
hub_connectivity_rg   = "infra-rg"
hub_dns_zone_rg           = "js-privatedns"
rdsh_count            = 2
next_hop_ip               = "10.100.0.4" # next hop ip address
fw_policy                 = "fwpol-hub"  # fw policy name
image_name            = "avdImage-microsoftwindowsdesktop-office-365-win11-21h2-avd-m365"
image_rg              = "rg-eastus-avd-AIBdemoAVD-shared-resources"
gallery_name          = "avdgallery_eastus_AIBdemoAVD"
spoke_subscription_id = "Your Spoke Subscription ID"
hub_subscription_id   = "Your Hub Subscription ID"
identity_subscription_id  = "Your Hub Subscription ID"
avdshared_subscription_id = "Your Hub Subscription ID"
identity_rg               = "infra-rg"      # identity subscription resource group
identity_vnet             = "infra-network" # identity subscription vnet name